#graph-svg {
  overflow: visible;
}

#graph-rect {
  fill-opacity: 0;
  stroke: var(--secondary);
  stroke-width: 2;
  text-align: center;
}

.graph-nodes {
  stroke: var(--primary);
}

.graph-labels {
  display: none;
  font-size: 25px;
  fill: var(--theme);
  text-anchor: middle;
}
